<section class="client_section layout_padding">
    <div class="container">
       <div class="heading_container heading_center">
          <h2>
             Cảm nhận của khách hàng
          </h2>
       </div>
       <div id="carouselExample3Controls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
             <div class="carousel-item active">
                <div class="box col-lg-10 mx-auto">
                   <div class="img_container">
                      <div class="img-box">
                         <div class="img_box-inner">
                            <img src="../../themes/frontend/images/dat.jpg" alt="">
                         </div>
                      </div>
                   </div>
                   <div class="detail-box">
                      <h5>
                         Nguyen Tien Dat
                      </h5>
                      <h6>
                         Khách hàng
                      </h6>
                      <p>
                        Khi cần tìm đánh giá sản phẩm chính xác và đáng tin cậy, tôi luôn chọn website này. Các nhận xét ở đây ngắn gọn, khách quan và đầy đủ thông tin giúp tôi đưa ra quyết định mua sắm thông minh, hài lòng.
                      </p>
                   </div>
                </div>
             </div>
             <div class="carousel-item">
                <div class="box col-lg-10 mx-auto">
                   <div class="img_container">
                      <div class="img-box">
                         <div class="img_box-inner">
                            <img src="../../themes/frontend/images/ly.jpg" alt="">
                         </div>
                      </div>
                   </div>
                   <div class="detail-box">
                      <h5>
                         Nguyen Van Ly
                      </h5>
                      <h6>
                         Khách hàng
                      </h6>
                      <p>
                        Website này là nguồn tham khảo tuyệt vời về đánh giá sản phẩm. Tôi luôn tin tưởng vào các nhận xét chi tiết, khách quan để đưa ra quyết định đúng đắn. Nhờ những phân tích và ý kiến chân thật, tôi đã tránh được nhiều lần mua nhầm. Rất đáng tin cậy!
                      </p>
                   </div>
                </div>
             </div>
             <div class="carousel-item">
                <div class="box col-lg-10 mx-auto">
                   <div class="img_container">
                      <div class="img-box">
                         <div class="img_box-inner">
                            <img src="../../themes/frontend/images/mai.jpg" alt="">
                         </div>
                      </div>
                   </div>
                   <div class="detail-box">
                      <h5>
                         Tran Vu Nhat Mai
                      </h5>
                      <h6>
                         Khách hàng
                      </h6>
                      <p>
                        Những đánh giá sản phẩm trên website này thực sự hữu ích. Thông tin vừa ngắn gọn vừa đầy đủ giúp tôi tự tin khi mua hàng. Nhận xét rất chân thật, được nghiên cứu kỹ lưỡng và khách quan. Tôi rất khuyến khích mọi người tham khảo trang này nếu muốn hiểu rõ về sản phẩm.
                      </p>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel_btn_box">
             <a class="carousel-control-prev" href="#carouselExample3Controls" role="button" data-slide="prev">
             <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
             <span class="sr-only">Trước</span>
             </a>
             <a class="carousel-control-next" href="#carouselExample3Controls" role="button" data-slide="next">
             <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
             <span class="sr-only">Tiếp</span>
             </a>
          </div>
       </div>
    </div>
   </section>