<div class="container">
    <div class="div_center">
        <h2 style="font-size:30px; padding:20px 0;">Bình luận</h2>
        <form action="" method="POST">
            <textarea name="comment" id="" cols="30" rows="10" placeholder="Comment something here" class="fillComment"
                required></textarea>
            <br>
            <input type="submit" value="Comment" disabled>
        </form>
    </div>
</div>