<!-- Basic -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Site Metas -->
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="shortcut icon" href="../../themes/frontend/images/favicon.png" type="">
<title><%= title%></title>
<!-- bootstrap core css -->
<link rel="stylesheet" type="text/css" href="../../themes/frontend/css/bootstrap.css" />
<!-- icon boostrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<!-- Link to Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- font awesome style -->
<link href="../../themes/frontend/css/font-awesome.min.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="../../themes/frontend/css/style.css" rel="stylesheet" />
<!-- responsive style -->
<link href="../../themes/frontend/css/responsive.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Load library from the CDN -->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
<style type="text/css">
    nav.items-center {
        margin-top: 30px;
        display: flex;
    }

    nav.items-center .justify-between {
        display: none;
    }

    nav.items-center .relative.inline-flex span {
        float: left;
        width: 50px !important;
        height: 45px !important;
        text-align: center;
    }

    nav.items-center svg {
        max-width: 30px !important;
    }

    nav.items-center a {
        color: black !important;
        width: 50px !important;
        height: 45px !important;
        text-align: center;
        float: left;
    }

    .pagination p {
        display: none;
    }

    .div_center {
        text-align: center;
        padding: 0 0 30px;
    }

    .fillComment {
        height: 150px;
        width: 50vw;
    }

    .allComment {
        padding-left: 20%;
        font-size: 20px;
    }

    .pagination{
        margin-top: 50px;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
        }

    .pagination a.active {
        background-color: dodgerblue;
        color: white;
        border: 1px solid dodgerblue;
    }

    .pagination a:hover:not(.active) {background-color: #ddd;}

</style>