<section class="arrival_section">
    <div class="container">
       <div class="row">
          <div class="col-md-6 text-center">
             <img src="../../themes/frontend/images/kimtaehee.jpg"/>
          </div>
          <div class="col-md-6 ml-auto description">
             <div class="heading_container remove_line_bt">
                <h2>
                   Hàng Mới Về
                </h2>
             </div>
             <p style="margin-top: 20px;margin-bottom: 30px;">
                Khám phá những sản phẩm mới nhất của chúng tôi—mới mẻ, hợp xu hướng và vượt mong đợi. Từ thời trang đến công nghệ, bộ sưu tập chọn lọc này dành cho mọi khách hàng. Khám phá và nâng tầm phong cách của bạn ngay hôm nay!
             </p>
             <a href="/products">
                Mua Ngay
             </a>
          </div>
       </div>
    </div>
 </section>