<section class="slider_section ">
    <div class="slider_bg_box">
       <img src="../../themes/frontend/images/jisoo.jpg" alt="">
    </div>
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container ">
                <div class="row">
                   <div class="col-md-7 col-lg-6 ">
                      <div class="detail-box">
                         <h1>
                            <span>
                              Ưu đãi nổi bật
                            </span>
                            <br>
                               Trong tuần này
                         </h1>
                         <p>
                            Khám phá những ưu đãi hấp dẫn nhất tuần dành cho bạn! Đừng bỏ lỡ các sản phẩm giảm giá đặc biệt, từ điện tử đến thời trang, tiết kiệm cực lớn khi mua sắm ngay hôm nay!
                         </p>
                         <div class="btn-box">
                            <a href="/products" class="btn1">
                            Mua ngay
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item ">
             <div class="container ">
                <div class="row">
                   <div class="col-md-7 col-lg-6 ">
                      <div class="detail-box">
                         <h1>
                            <span>
                               Giảm giá 30%
                            </span>
                            <br>
                              Cho tất cả sản phẩm
                         </h1>
                         <p>
                           Nhanh tay tận hưởng ưu đãi có thời hạn! Giảm giá lên đến 30% cho mọi sản phẩm. Từ thời trang đến điện tử, đây là cơ hội tuyệt vời để sở hữu món đồ yêu thích với giá siêu hấp dẫn. Mua ngay để tiết kiệm!
                         </p>
                         <div class="btn-box">
                            <a href="/products" class="btn1">
                            Mua ngay
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container ">
                <div class="row">
                   <div class="col-md-7 col-lg-6 ">
                      <div class="detail-box">
                         <h1>
                            <span>
                            Ưu đãi giới hạn
                            </span>
                            <br>
                            Khuyến mãi đặc biệt
                         </h1>
                         <p>
                           Nhận ngay mức giá siêu hấp dẫn với các chương trình ưu đãi giới hạn và khuyến mãi đặc biệt. Từ flash sale đến khuyến mãi theo mùa, đừng bỏ lỡ cơ hội mua sắm tiết kiệm nhất!
                         </p>
                         <div class="btn-box">
                            <a href="/products" class="btn1">
                            Mua ngay
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="container">
          <ol class="carousel-indicators">
             <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
             <li data-target="#customCarousel1" data-slide-to="1"></li>
             <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
       </div>
    </div>
 </section>