<%- include('header') %>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Maintenance</h3>
					<div class="d-flex justify-content-end social_icon">
						<span><i class="fab fa-facebook-square"></i></span>
						<span><i class="fab fa-google-plus-square"></i></span>
						<span><i class="fab fa-twitter-square"></i></span>
					</div>
				</div>
				<div class="card-body">
					<div class="input-group form-group">
						<span style="color: skyblue;">This function is currently under maintenance. Please click to login or register to sign in or sign up with your username and password. Sorry for this inconvenience!</span>
					</div>
				</div>
				<div class="card-footer">
					<div class="form-group login" style="margin-top: 10px;">
						<form>
							<a href="/login" class="btn float-right btn_login">Login</a>
						</form>
						<form class="inline">
							<a href="/register" class="btn float-right btn_login">Register</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<%- include('script') %>