<%- include('header') %>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Verify email</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
					<div class="input-group form-group">
                    <span style="color: skyblue;">Before continuing, could you verify your email address by clicking on the link we just emailed to you? 
                    If you didn't receive the email, we will gladly send you another.</span>
					</div>
			</div>
		</div>
	</div>
</div>
</section>
<%- include('script') %>